@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(27, 27, 27);
}

p {
  font-family: 'Poppins', sans-serif;
}

.main-container {
  width: 90%;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.main-container .container {
  width: 390px;
  height: 250px;
  background-color: beige;
  border-radius: 15px;
  padding: 20px;
}

.main-container .container .left {
  width: 40%;
  padding-right: 10px;
  float: left;
}

.main-container .container .left img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.main-container .container .left p {
  font-weight: bold;
  font-size: 17px;
  padding-top: 25px;
}

.main-container .container .right {
  width: 60%;
  padding-left: 10px;
  float: right;
}

.main-container .container .right p {
  font-weight: bold;
  font-size: 15px;
  padding-top: 7px;
}